<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>526339007423-jug0ilvso8i2oiiq1qk9hd9b6smoeosn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.526339007423-jug0ilvso8i2oiiq1qk9hd9b6smoeosn</string>
	<key>API_KEY</key>
	<string>AIzaSyAJTmLjjx93SZ1R6tOqGV-nj4AVNhgsRPc</string>
	<key>GCM_SENDER_ID</key>
	<string>526339007423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testAuth</string>
	<key>PROJECT_ID</key>
	<string>flutter-auth-15429</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-auth-15429.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:526339007423:ios:8ee2f1c5e9e4021095f70a</string>
</dict>
</plist>